@model List<ZabolNET.Models.Record>



@{ foreach(var item in Model)
    {
        <h5 class="TextStyle2">ID przedmiotu:@item.SubjectID </h5>
        <h5 class="TextStyle2">Krótki opis: @item.ShortDescription</h5>
        <h5 class="TextStyle2">Opis: @item.Description</h5>
        <h5 class="TextStyle2">Poziom trudności: @item.Difficulty</h5>
        <h5 class="TextStyle2">Data: @item.RecordDate</h5>
        <h5 class="TextStyle2">Typ: @item.RecordType </h5>
        <br/><br/>
    }

}
