@model List<ZabolNET.Models.Record>



@{ foreach(var item in Model)
    {
        <h5 class="TextStyle">ID przedmiotu:@item.SubjectID </h5>
        <h5 class="TextStyle">Krótki opis: @item.ShortDescription</h5>
        <h5 class="TextStyle">Opis: @item.Description</h5>
        <h5 class="TextStyle">Poziom trudności: @item.Difficulty</h5>
        <h5 class="TextStyle">Data: @item.RecordDate</h5>
        <h5 class="TextStyle">Typ: @item.RecordType </h5>
        <br/><br/>
    }

}
